@media screen and (max-width: 768px) {
}

@media screen and (max-width: 768px) {
  .hero h2 {
    font-size: 28px;
  }

}

body {
  font-size: 16px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}


  body, h1, h2, h3, p, ul, li {
      margin: 0;
      padding: 0;
  }

  .hero {
      background-position: right;
      background-size: 2500px;
      text-align: center;
      padding: 100px 0;
      color: #fff;
  }

  .hero h2 {
      font-size: 36px;
      margin-bottom: 20px;
  }

  .hero p {
      font-size: 18px;
      margin-bottom: 30px;
  }

  .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #222;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
  }

  .btn:hover {
      background-color: #444;
  }


  .features {
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('icon2.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 136vh;
    padding: 50px 0;
    text-align: center;
    position: relative;
    color: white;
    border-bottom: 3px solid #444;
    border-top: 3px solid #444;
  }


  .features::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5) ;
    z-index: -1;
  }


  .features h2 {
      font-size: 28px;
      margin-bottom: 20px;
      text-decoration: underline;
  }

  .feature {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
  }


  .feature1{
      display: flex;
      align-items: center;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
  }


  .feature1 video {
      max-width: 600px;
      float: left;
  }


  .feature2 video {
    max-width: 600px;
    float: right;
  }

  .feature3 video {
    max-width: 600px;
    float: left;
  }

  .feature1-text {
    flex-grow: 1;
    padding: 0 20px;
  }

  .feature2-text {
    flex-grow: 1;
    padding: 0 20px;
  }

  .feature3-text {
    flex-grow: 1;
    padding: 0 20px;
  }

  .feature1 h3 {
      font-size: 24px;
      margin-top: 10px;
  }

  .feature2 h3 {
    font-size: 24px;
    margin-top: 10px;
  }

  .feature3 h3 {
    font-size: 24px;
    margin-top: 10px;
  }


  /* .contact {
      background: white; 
      padding: 50px 0;
      text-align: center;
  } */


  .contact {
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('icon3.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding: 200px 0;
    text-align: center;
    position: relative;
    color: white;
  }

  .contact h2{
    text-decoration: underline;
  }



   .contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5) ;
    z-index: -1;
  }




  .contact h2 {
      font-size: 28px;
      margin-bottom: 20px;
  }

  .contact form {
      max-width: 400px;
      margin: 0 auto;
  }

  input[type="text"],
  input[type="email"],
  textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  button[type="submit"] {
      padding: 10px 20px;
      background-color: #222;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  button[type="submit"]:hover {
      background-color: #000000bd;
  }

  body {
    padding-bottom: 50px;
  }


  *{
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
    }


    body{
      font-family: montserrat;
      background: url('banner1.jpg') no-repeat center top fixed;
      background-size: cover;
      margin: 0;
      padding: 0;
      
    }

    html {
      scroll-behavior: smooth;
  }
    
    nav {
      background: rgba(0, 0, 0, 0.5);
      height: 80px;
      width: 100%;
      position: relative;
      z-index: 2;
      background-size: cover;
      border-bottom: 3px solid #444;
    }

    nav::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: -1;
  }

  body, nav {
      background: none;
  }

  .page-container {
      position: relative;
      font-family: montserrat;
      margin: 0;
      padding: 0;
  }

  .page-container::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('banner1.jpg') no-repeat center top fixed;
      background-size: cover;
      z-index: -1;
  }



    label.logo{
      color: rgb(236, 193, 1);
      font-size: 35px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
    }
    nav ul{
      float: right;
      margin-right: 20px;
    }
    
    nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
    }

    nav ul li a{
      color: white;
      font-size: 17px;
      padding: 7px 13px;
      border-radius: 3px;
      text-transform: uppercase;
    }

    a.active,a:hover{
      background: #575858;
      transition: .5s;
    }

    .checkbtn{
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
    }
    #check{
      display: none;
    }
    @media (max-width: 952px){
      label.logo{
        font-size: 30px;
        padding-left: 50px;
      }
      nav ul li a{
        font-size: 16px;
      }
    }
    @media (max-width: 858px){
      .checkbtn{
        display: block;
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }
    }
    section{
      background: url(bg1.jpg) no-repeat;
      background-size: cover;
      height: calc(100vh - 80px);
    }

    input[type="text"] {
      background-color: rgba(0, 0, 0, 0.342);
      color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
  }

  input[type="email"] {
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

textarea{
  background-color: rgba(0, 0, 0, 0.342);
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 25px;
}
  

.contact form{
  padding: 10px 0;
}